{
    "token":        "bot_token",
    "url":          "bot_url",
    "name":         "bot_name",
    "admin_id":     "chat_id for receiving admin messages",
    "chat_ids": [
        "client_chat_id_1",
        "client_chat_id_2"
    ]
}