{
    "user_msg_bot":  {
        "token":        "bot_token",
        "url":          "t.me/bot_name",
        "name":         "bot_user_name"
    },
    "admin_msg_bot": {
        "enabled":      0,
        "token":        "",
        "url":          "",
        "name":         ""
    },    
    "admin_id": "chat_id for receiving admin messages",
    "chat_ids": [
        "client_chat_id_1",
        "client_chat_id_2"
    ]
}